---
layout: default
title: journey
cover: false
---

<header class="main-header" style="background-image: url(/assets/images/tools/website/back-img.jpg) ">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <nav class="pagination" role="pagination">
        <span class="page-number" align="left">Category:</span>
        <span align="center">
            {% for category in site.categories %}
                <a href="{{ site.baseurl}}/category/{{ category.first }}">{{category.first}}（{{category.last.size}}）</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </span>
        <span class="page-number" align="right"> <a href="/"><i>Homepage</i></a></span>
        <br>
        <span class="page-number" align="left">Tag:</span>
        <span align="left">
            {% for tag in site.tags %}
                <a href="{{ site.baseurl}}/tag/{{ tag.first }}.html">{{tag.first}}（{{tag.last.size}}）</a>
                &nbsp;&nbsp;&nbsp;
            {% endfor %}
        </span>
    </nav>

    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">


            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string }} 
            {% endif %}

            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 


        </footer>
    </article>
    {% endfor %}

    <nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Previous Page">&laquo; Previous Page</a>
        {% else %}
            <a class="newer-posts" href="/page{{ paginator.previous_page }}/#content" title="Previous Page">&laquo; Previous Page</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>
    {% if paginator.next_page %}
        <a class="older-posts" href="/page{{ paginator.next_page }}/#content" title="Next Page">Next Page &raquo;</a>
    {% endif %}
    </nav>

</main>

