---
layout: default
title: Home
cover: false
---

{% assign category_name = 'html5' %}

<header class="main-header" style="background-image: url(/assets/images/tools/website/back-img.jpg) ">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <nav class="pagination" role="pagination">
        <span class="page-number" align="left">Category:</span>
        <span align="center">
            {% for category in site.categories %}
                <a href="{{ site.baseurl}}/category/{{ category.first }}.html">
                    {% if category_name != category.first %}
                        <span>{{category.first}}（{{category.last.size}}）</span>
                    {% else %}
                        <span style="color:#0000ff">{{category.first}}（{{category.last.size}}）</span>
                    {% endif %}
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </span>
        <span class="page-number" align="right"> <a href="/"><i>Homepage</i></a></span>
    </nav>


    {% assign posts = site.categories[category_name] %}
    {% for post in posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/tools/user/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %}
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>
    {% endfor %}


</main>

